
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
ul li{
   list-style: none; 
   margin-top: 5px;
}
body{
    margin-top: 200px;
}
h1{
    margin-top: 25px;
    margin-bottom: 25px;
}
#cascada {
    background-color: rgb(172, 164, 164);
    box-shadow: rgba(219, 215, 218, 0.4) 0px 5px, rgba(173, 169, 172, 0.3) 0px 10px, rgba(236, 211, 227, 0.2) 0px 15px, rgba(161, 143, 155, 0.1) 0px 20px, rgba(119, 111, 116, 0.05) 0px 25px;
}
i {
    color: rgb(172, 164, 164);
    font-size: 20px;
  }
i:hover{
    color: red;
  }
  